<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Include Axios from CDN -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>
<body>
    

 <h1>Product Details</h1>

<table>
  <thead>
    <tr>
      <th>Product Name</th>
      <th>Manufacture Name</th>
      <th>Brand</th>
      <th>Price</th>
      <th>Description</th>
      <th>Category</th>
      <th>Subcategory</th>
      <th>Image</th>
    </tr>
  </thead>
  <tbody>
    {{#each products}}
      <tr class="product">
        <td>{{this.productname}}</td>
        <td>{{this.manufacturename}}</td>
        <td>{{this.brand}}</td>
        <td>{{this.price}}</td>
        <td>{{this.description}}</td>
        <td>{{this.category.title}}</td>
        <td>{{this.subcategory.title}}</td>
        <td>
          <img src="{{this.image.url}}" alt="{{this.productname}} Image" style="max-width: 100px; height: auto;">
        </td>
        <td>
    <div class="product">
      {{!-- <p>{{this.productname}}</p> --}}
      <button onclick="deleteProduct( '{{this.productname}}')">Delete</button>
    </div>
        </td>
      </tr>

    
    {{/each}}
  </tbody>
</table>






<script>
  function deleteProduct(productId) {
    axios.delete(`/admin/delete/product/${productId}`)
      .then((response) => {
        if (response.status !== 200) {
          throw new Error('Delete request failed');
        } else {
          window.location.href = "/admin/productdetails";
        }
      })
      .catch((error) => {
        console.error(error);
      });
  }
</script>

</body>
</html>