<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>
<body>



{{#each cart}}
  <tr class="product">
    <td>{{product.productname}}</td>
    {{!-- <td>{{product.title}}</td>
    <td>{{product.br}}</td>
    <td>{{this.price}}</td>
    <td>{{this.description}}</td>
    <td>{{this.category.title}}</td>
    <td>{{this.subcategory.title}}</td>
    --}}
  </tr>
{{/each}}
{{!-- 
<script>
  function cartProduct(cart) {
    axios.post(`/user/cart/product/${cart}`)
      .then((response) => {
        if (response.status !== 200) {
          throw new Error('Cart request failed');
        } else {
          document.location.href = "/";
        }
      })
      .catch((error) => {
        console.error(error);
      });
  }
</script> --}}

</body>
</html>