<head>
</head>

<body>

  {{#each categories}}
    <div>
        <h3>{{title}}</h3>
        <p>{{description}}</p>
        <img src="{{image.url}}" alt="{{title}} Image">

            <input type="hidden" name="id" value="{{_id}}">

       </form>
    </div>
{{else}}
    <p>No categories found.</p>
{{/each}}
 
</body>