<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Yoga Studio Template">
    <meta name="keywords" content="Yoga, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>QuickBuY</title>



    {{!-- bootstrap icon --}}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet">
    <!-- Google Font -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

    <link rel="stylesheet" href="/user/cart.js">

    {{!-- link google bootstrap --}}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet">
    <!-- Css Styles -->

    <link rel="stylesheet" href="/user/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/user/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/user/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/user/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/user/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/user/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/user/style.css" type="text/css">
</head>
</head>
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Search model -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->

    <!-- Header Section Begin -->
    <header class="header-section" style="position: fixed;z-index:5;background-color: white;width: 100%;top:0%;">
        <div class="container-fluid">
            <div class="inner-header">
                <div class="logo">
                    <a href="/">
                        <h5 style="font-size: 2em; color: #ad0101;font-weight:bolder; "> <img
                                style="height:40px;width:40px;background-color: white;color:white;fo"
                                src="https://res.cloudinary.com/dd6qdgpfr/image/upload/v1712106218/photo_2024-03-12_20-09-56__2___1_-transformed_ncuoze.png"
                                alt="">
                            QuickBuY</h5>
                    </a>
                </div>
                <div class="header-right">

                    <a style="margin-right:1px;" class="search-trigger" href=""> <i style="font-size:20px;"
                            class="bi bi-search"></i> </a>


                    <a style="font-size:24px;margin-left:1px;" href="/shopping-cart"><i style="margin-top:5%;"
                            class="bi bi-cart3"></i></a>

                    <a href="/profile"><i style="font-size:24px;" class="bi bi-person"></i></a>



                </div>
                <div class="user-access">
                    {{!-- <a href="/user/sign">Register</a>
                    <a href="/user/login" class="in">Sign in</a> --}}
                    <a href="/logout">Logout</a>

                </div>
                <nav class="main-menu mobile-menu">
                    <ul>
                        <li><a class="active" href="/">Home</a></li>
                        <li><a href="/products">Shop</a>
                            <ul class="sub-menu">
                                {{!-- <li><a href="/user/products">Product Page</a></li> --}}
                                <li><a href="/shopping-cart">Shopping Card</a></li>
                                {{!-- <li><a href="/check-out">Check out</a></li> --}}
                            </ul>
                        </li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/check-out">Blog</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>


    {{!-- <div class="container-fluid" style="margin-top: -3.5%;position: fixed;z-index:5;color:xxwhite; ">
        <div class="row">
            <div class="col-lg-12 sm-0">
                <h4 style="text-align: center;background-color: rgb(160, 176, 176);">Buy Your Dream Collections </h4>
            </div>
        </div>
    </div> --}}
    <!-- Header Info Begin -->




    <style>
        .custom-card {
            height: 35vh;
            /* Set height to 50% of viewport height */
            overflow: hidden;
            /* Hide overflow content */
        }
        .card-text{
            font-size: 1.5vh;
        }
        .card-title{
                        font-size: 2vh;

        }
        .mt-3 mt-md-auto{
            size: 5vh;
        }
        .card-body{
            height:38vh;
        }
    </style>
    <!-- Add a container for the orders -->
    {{#if orders.length}}
    <div class="container" style="margin-top: 9%; margin-right: 5%;">
        <div class="row">
            <!-- Loop through each order -->
            {{#each orders}}
            <div class="col-lg-8 md-5 col-md-5 col-sm-3">
                <div class="card custom-card">
                    <div class="row g-0">
                        <div class="col-md-5">
                            <img style="height: 15rem; width: 15rem;" src="{{this.product.image.url}}"
                                class="card-img-top" alt="Product Image">
                        </div>
                        <div class="col-md-7 col-sm-3">
                            <div class="card-body">
                                <h5 class="card-title">{{this.productname}}</h5>
                                <p class="card-text">Brand: {{this.brand}}</p>
                                <p class="card-text">Price: {{this.price}}</p>
                                <p class="card-text">Size: {{this.size}}</p>
                                <p class="card-text">Quantity: {{this.quantity}}</p>
<p class="card-text" id="orderStatus">Order Status: {{this.orderAccepted}}</p>
                                <div class="mt-3 mt-md-auto">
                                    <div class="row justify-content-center justify-content-md-start">
                                        <div class="col-md-auto mb-2 mb-md-0">
                                            <button  class="openModalBtn btn btn-light" data-orderid="{{this._id}}">
                                                <i class="material-icons">visibility</i> Invoice
                                            </button>
                                        </div>
<div class="col-md-auto cancelOrderContainer">
    <button class="cancelOrderButton btn btn-light" data-order-id="{{this._id}}">Cancel Order</button>
</div>


                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>


<script>
    // Iterate over each order item
    $(".card-text").each(function(index) {
        // Get the order status text for this order item
        const orderStatusText = $(this).text().trim();
        // Hide the cancel order button if the order status is "cancelled"
        if (orderStatusText === "Order Status: cancelled") {
            $(this).closest(".custom-card").find(".cancelOrderContainer").hide();
                      //      $(".openModalBtn").hide(); 
        }
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    // Select all cancel order buttons and attach event listeners to each one
    document.querySelectorAll(".cancelOrderButton").forEach(function(button) {
        button.addEventListener("click", function() {
            // Retrieve the orderId from the button's data-order-id attribute
            const orderId = this.getAttribute("data-order-id");

            // Show a confirmation dialog using SweetAlert
            Swal.fire({
                title: "Are you sure?",
                text: "Do you want to cancel this order?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Yes, cancel it!",
                cancelButtonText: "No, keep it"
            }).then((result) => {
                if (result.isConfirmed) {
                    // Make a fetch request to the backend to cancel the order
                    fetch("/cancelOrder", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify({ orderIds: orderId })
                    })
                    .then(response => response.json())
                    .then(data => {
                        // Handle the response from the backend if needed
                        console.log("Order cancelled:", data);
                        // Show a success message using SweetAlert
                        Swal.fire({
                            title: "Cancelled!",
                            text: "Your order has been cancelled.",
                            icon: "success"
                        }).then(() => {
                            // Reload the page after displaying the success message
                            location.reload();
                        });
                    })
                    .catch(error => {
                        console.error("Error cancelling order:", error);
                        // Show an error message using SweetAlert
                        Swal.fire({
                            title: "Error!",
                            text: "An error occurred while cancelling the order. Please try again later.",
                            icon: "error"
                        });
                    });
                }
            });
        });
    });
</script>




        <!-- Bootstrap Pagination -->
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {{#if pagination.prev}}
                <li class="page-item"><a class="page-link" href="{{pagination.prev}}">&laquo;</a></li>
                {{/if}}

                {{#each pagination.pages}}
                <li class="page-item {{#if this.active}}active{{/if}}"><a class="page-link"
                        href="{{this.url}}">{{this.number}}</a></li>
                {{/each}}

                {{#if pagination.next}}
                <li class="page-item"><a class="page-link" href="{{pagination.next}}">&raquo;</a></li>
                {{/if}}
            </ul>
        </nav>
    </div>
    {{else}}
    <p>No orders found.</p>
    {{/if}}





    <script>
        $(document).ready(function () {
            $('#ordersTable').DataTable();
        });
    </script>

    {{!-- ---------------------- --}}
    {{!-- for print invoice --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>

    <!-- Modal -->
    <div id="myModal" class="modal">
        <div class="modal-content" style="height:1000px;">
            <span class="close">&times;</span>
            {{!-- <p><strong>Order ID:</strong> <span id="image"></span></p>
            <p><strong>Product Name:</strong> <span id="productName"></span></p>
            <p><strong>Product Size:</strong> <span id="productSize"></span></p>
            <p><strong>Product Quantity:</strong> <span id="productQuantity"></span></p>
            <p><strong>Product color:</strong> <span id="productColor"></span></p>
            <p><strong>Product Brand:</strong> <span id="productBrand"></span></p>
            <p><strong>Product Category:</strong> <span id="productCategory"></span></p>
            <p><strong>Product Subcategory:</strong> <span id="productSubcategory"></span></p>
            <p><strong>Product Address:</strong> <span id="productAddress"></span></p>
            <p><strong>Product Subcategory:</strong> <span id="productSubcategory"></span></p>
            <p><strong>Order status:</strong> <span id="OrderStatus"></span></p>
            --}}
            <h2 style="text-align: center;">Invoice</h2>
            <div id="invoiceContent" style="margin-left:4%;">
                <!-- Invoice content will be dynamically added here -->


            </div>
            <!-- Add more elements for other order details -->
            <button id="printDataBtn">Download</button>
        </div>
    </div>

    <script>
        // Print data button functionality
        //for downloading as pdf
        const printDataBtn = document.getElementById("printDataBtn");
        printDataBtn.addEventListener("click", function () {
            const modalContent = document.querySelector('.modal-content');

            // Convert modal content to PDF
            html2pdf()
                .from(modalContent)
                .save();
        });

    </script>


    <!-- Updated JavaScript -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const buttons = document.querySelectorAll('.openModalBtn');
            buttons.forEach(button => {
                button.addEventListener('click', function () {
                    const orderId = this.dataset.orderid;
                    sendOrderToBackend(orderId);
                });
            });

            // Modal close functionality
            const modal = document.getElementById("myModal");
            const closeModal = modal.querySelector(".close");
            closeModal.addEventListener("click", function () {
                modal.style.display = "none";
            });

            // Print data button functionality (optional)
            const printDataBtn = document.getElementById("printDataBtn");
            printDataBtn.addEventListener("click", function () {
                // Implement printing logic here
            });
        });

        function sendOrderToBackend(orderId) {
            fetch('/OrderDetailses', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ orderId: orderId }),
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json(); // Parse the JSON response
                })
                .then(data => {
                    // Once you receive the order details, update the modal content
                    updateModalContent(data.orderDetails);
                    // Open the modal
                    const modal = document.getElementById("myModal");
                    modal.style.display = "block";
                })
                .catch(error => {
                    console.error('There was a problem sending or receiving data from the backend:', error);
                });
        }

        function updateModalContent(orderDetails) {


            // Add more lines to update other elements with relevant order details
            const invoiceHTML = `
        <p><strong>Purchased Date:</strong> ${orderDetails.orderDate}</p>
        <table class="table">
            <thead>
                <tr>
                    <th>Products</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>${orderDetails.productname}</td>
                    <td>₹ ${orderDetails.price}</td>
                    <td>${orderDetails.quantity}</td>
                    <td>₹ ${orderDetails.totalAmount}</td>
                </tr>
            </tbody>
        </table>
        <p><strong>Total:</strong> ₹ ${orderDetails.totalAmount}</p>
        <p><strong>Shipping Charge:</strong> FREE</p>
        <p><strong>GST (5%):</strong> ₹ ${orderDetails.gstAmount}</p>
        <p><strong>Extra Discount (20%):</strong> ₹ ${orderDetails.discountAmount}</p>
        <p><strong>Grand Total:</strong> ₹ ${orderDetails.grandTotal}</p>
        <h3>BILLING INFORMATION</h3>
        <h5>QuickbuY</h5>
                <h5>10th Floor</h5>
        <h5>calicut</h5>
        <h5>Kerala</h5>
        <h5>PIN-673385</h5>
        <h5>phon-9956384256</h5>

        <h3>PAYMENT METHOD</h3>
        <p>${orderDetails.paymentMethod}</p>
        <h3>SHIPPING INFORMATION</h3>
        <p>${orderDetails.shippingInfo}</p>
        <h3>SHIPPING METHOD</h3>
        <p>SSS: QuickbuY Shipping Services</p>
        <p>THANK YOU</p>
    `;

            // Insert the invoice HTML into the modal content
            document.getElementById('invoiceContent').innerHTML = invoiceHTML;

        }


    </script>
    {{!-- document.getElementById('image').textContent = orderDetails.orderId;
    document.getElementById('productName').textContent = orderDetails.productname;
    document.getElementById('productSize').textContent = orderDetails.size;

    document.getElementById('productQuantity').textContent = orderDetails.quantity;

    document.getElementById('productColor').textContent = orderDetails.color;
    document.getElementById('productBrand').textContent = orderDetails.brand;
    document.getElementById('productCategory').textContent = orderDetails.category;
    document.getElementById('productSubcategory').textContent = orderDetails.subcategory;
    document.getElementById('productSubcategory').textContent = orderDetails.address;
    document.getElementById('OrderStatus').textContent = orderDetails.orderAccepted; --}}

    {{!-- ------------------------------------------------------------ --}}

    <!-- Footer Section Begin -->
    <footer class="footer-section spad">
        <div class="container">
            <div class="newslatter-form">
                <div class="row">
                    <div class="col-lg-12">
                        <form action="#">
                            <input type="text" placeholder="Your email address">
                            <button type="submit">Subscribe to our newsletter</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="footer-widget">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <h4>About us</h4>
                            <ul>
                                <li>About Us</li>
                                <li>Community</li>
                                <li>Jobs</li>
                                <li>Shipping</li>
                                <li>Contact Us</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <h4>Customer Care</h4>
                            <ul>
                                <li>Search</li>
                                <li>Privacy Policy</li>
                                <li>2019 Lookbook</li>
                                <li>Shipping & Delivery</li>
                                <li>Gallery</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <h4>Our Services</h4>
                            <ul>
                                <li>Free Shipping</li>
                                <li>Free Returnes</li>
                                <li>Our Franchising</li>
                                <li>Terms and conditions</li>
                                <li>Privacy Policy</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <h4>Information</h4>
                            <ul>
                                <li>Payment methods</li>
                                <li>Times and shipping costs</li>
                                <li>Product Returns</li>
                                <li>Shipping methods</li>
                                <li>Conformity of the products</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="social-links-warp">
            <div class="container">
                <div class="social-links">
                    <a href="" class="instagram"><i class="fa fa-instagram"></i><span>instagram</span></a>
                    <a href="" class="pinterest"><i class="fa fa-pinterest"></i><span>pinterest</span></a>
                    <a href="" class="facebook"><i class="fa fa-facebook"></i><span>facebook</span></a>
                    <a href="" class="twitter"><i class="fa fa-twitter"></i><span>twitter</span></a>
                    <a href="" class="youtube"><i class="fa fa-youtube"></i><span>youtube</span></a>
                    <a href="" class="tumblr"><i class="fa fa-tumblr-square"></i><span>tumblr</span></a>
                </div>
            </div>

            <div class="container text-center pt-5">



            </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="/user/jquery-3.3.1.min.js"></script>
    <script src="/user/bootstrap.min.js"></script>
    <script src="/user/jquery.magnific-popup.min.js"></script>
    <script src="/user/jquery.slicknav.js"></script>
    <script src="/user/owl.carousel.min.js"></script>
    <script src="/user/jquery.nice-select.min.js"></script>
    <script src="/user/mixitup.min.js"></script>
    <script src="/user/main.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>


</body>

</html>