<!DOCTYPE html>
<html lang="zxx">


<head>
    <meta charset="UTF-8">
    <meta name="description" content="Yoga Studio Template">
    <meta name="keywords" content="Yoga, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Violet | Template</title>





    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Your custom CSS files -->
    <link rel="stylesheet" href="path/to/your/custom.css">

    <!-- Your HTML content here -->

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Your custom JavaScript files -->
    <script src="path/to/your/custom.js"></script>





{{!-- pagination  --}}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Google Font -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/fontawesome.min.css">



                <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
                        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">





    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/user/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/user/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/user/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/user/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/user/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/user/slicknav.min.css" type="text/css">
<link rel="stylesheet" href="/user/style.css" type="text/css">
</head>

</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    
    <!-- Search model -->
	<div class="search-model">
		<div class="h-100 d-flex align-items-center justify-content-center">
			<div class="search-close-switch">+</div>
			<form class="search-model-form">
				<input type="text" id="search-input" placeholder="Search here.....">
			</form>
		</div>
	</div>
	<!-- Search model end -->

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container-fluid">
            <div class="inner-header">
                <div class="logo">
                    <a href="./index.hbs"><img src="/logo.png" alt=""></a>
                </div>
                <div class="header-right">
                    <img src="/icons/search.png" alt="" class="search-trigger">
                 <img src="/icons/man.png" alt="">
                    <a href="/user">   
                        <img src="/icons/bag.png" alt="">
                        <span>2</span>
                    </a>
                </div>
                <div class="user-access">
                    <a href="/user/sign">Register</a>
                    <a href="/user/login" class="in">Sign in</a>
                    <a href="/user/logout">
    <button class="bttn3" style="width: 120px; height: 50px;">Logout</button>
</a>

                </div>
                <nav class="main-menu mobile-menu">
                    <ul>
                        <li><a class="active" href="/user/index">Home</a></li>
                        <li><a href="/user/categories">Shop</a>
                            <ul class="sub-menu">
                                <li><a href="/user/productdetails">Product Page</a></li>
                                <li><a href="/user/shopping-cart">Shopping Card</a></li>
                                <li><a href="/user/check-out">Check out</a></li>
                            </ul>
                        </li>
                        <li><a href="/user/product-page">About</a></li>
                        <li><a href="/user/check-out">Blog</a></li>
                        <li><a href="/user/contact">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <!-- Header Info Begin -->
    <div class="header-info">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="header-item">
                        <img src="/icons/delivery.png" alt="">
                        <p>Free shipping on orders over $30 in USA</p>
                    </div>
                </div>
                <div class="col-md-4 text-left text-lg-center">
                    <div class="header-item">
                        <img src="/icons/voucher.png" alt="">
                        <p>20% Student Discount</p>
                    </div>
                </div>
                <div class="col-md-4 text-left text-xl-right">
                    <div class="header-item">
                    <img src="/icons/sales.png" alt="">
                    <p>30% off on dresses. Use code: 30OFF</p>
                </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header Info End -->
    <!-- Page Add Section Begin -->
    {{!-- <section class="page-add">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="page-breadcrumb">
                        <h2>Shirts<span>.</span></h2>
                        <a href="#">Home</a>
                        <a href="#">Dresses</a>
                        <a class="active" href="#">Night Dresses</a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <img src="/add.jpg" alt="">
                </div>
            </div>
        </div>
    </section> --}}
    <!-- Page Add Section End -->

    <!-- Product Page Section Beign -->
    <section class="product-page">
        {{#if data }}
        <div class="container">
                            <div class="product-control">
                                <a href="#">Previous</a>
                                <a href="#">Next</a>
                            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="product-slider owl-carousel">
                        <div class="product-img">
                            <figure>
                            <img src="{{data.image.url}}" alt="{{this.productname}}">
                                <div class="p-status">new</div>
                            </figure>
                        </div>
                        <div class="product-img">
                            <figure>
                            <img src="{{data.image.url}}" alt="{{this.productname}}">
                                <div class="p-status">new</div>
                            </figure>
                        </div>
                    </div>
                    
                </div>
                <div class="col-lg-6">
                    <div class="product-content">
                                 <h2  id="productName" >{{data.productname}}</h2>
                                        <div class="pc-meta">
                                            <h5$5500</h5>
                                            <div class="rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                        </div>
                                  <p>{{data.discription}}</p>
                        <ul class="tags">
                            <li><span>Category :</span> {{data.catagory.title}}</li>
                            <li><span>Tags :</span> man, shirt, dotted, elegant, cool</li>
                                                        <li><span>Tags :</span> man, shirt, dotted, elegant, cool</li>
                                                                                                                

                                                 <li style="margin-bottom: 20px;">
                                                    <span>Size :</span>
                                                    <div class="btn-group" id="sizeDiv" role="group" aria-label="Size Options">
                                                        {{#each data.size}}
                                                            <button type="button"  class="btn btn-outline-dark " onclick="selectSize('{{this}}')">
                                                                {{this}}
                                                            </button>
                                                        {{/each}}
                                                    </div>
                                                </li>
                                                <input type="hidden" id="selectedSize" name="selectedSize" value=""> <!-- Add this line -->



                                                   </ul>

                                                <h5  style="font-size: 15px;margin-left : 5px; font-weight: bolder; color: rgba(19, 19, 20, 0.948);">MORE COLORS</h5>
                                                <br>
                                                   <div  style="display: flex ;flex-direction: row;"  >  

   {{#each relatedProducts }}


                                                        <div class="col-8 col-md-4 col-lg-3 mb-3"  >
                                                        <div class="card" style="display: flex; flex-direction: row;">
                                                            <a  href="/user/productpage?name={{this._id}}"  tabindex="-1">
                                                       
                                                                <img  class="card-img"  src="{{this.image.url}}" alt="Image">
                                                        
                                                            </a>
                                                        </div>
                                                        </div>
                                                        {{/each}}

                                                   </div>
                                                     


                                                                                                    <script>
                                                    function selectSize(size) {
                                                        // Your logic to handle the selection
                                                        // For example, you can highlight the selected size
                                                        document.querySelectorAll('.btn').forEach(btn => {
                                                            btn.classList.remove('active');
                                                        });

                                                        // Loop through all buttons and find the one with matching size
                                                        const buttons = document.querySelectorAll('.btn');
                                                        for (let i = 0; i < buttons.length; i++) {
                                                            if (buttons[i].textContent.trim() === size) {
                                                                buttons[i].classList.add('active');
                                                                break; // Exit the loop after finding the matching button
                                                            }
                                                        }
                                                        

                                                        // Additional logic like storing the selected size in a hidden input
                                                        const selectedSizeInput = document.getElementById('selectedSize');
                                                        if (selectedSizeInput) {
                                                            selectedSizeInput.value = size;
                                                        } else {
                                                            console.error("Element with ID 'selectedSize' not found.");
                                                        }
                                                    }


                                                    </script>


                                                        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

                                                                          <div class="product-quantity">
 <div class="input-group mb-4">
    <span class="input-group-btn">
        <button type="button" class="quantity-minus btn btn-outline-secondary" onclick="decrementQuantity()">
            <i class="icon-minus2"></i>
        </button>
    </span>
    <input type="text"  style="width: 50px;" id="quantity" name="quantity" class="form-control input-number" value="1" min="1" data-qty="{{data.Quantity}}" max="{{data.Quantity}}">
    <span class="input-group-btn">
        <button type="button" class="quantity-plus btn btn-outline-secondary" onclick="incrementQuantity()">
            <i class="icon-plus2"></i>
        </button>
    </span>
</div>

<h1>{{data.Quantity}}</h1>
<h1 id="productId" style="display: none;">{{data._id}}</h1>
                                                                                {{!-- <a href="#" class="primary-btn pc-btn">Add to cart</a> --}}
                                                                                    <button class="primary-btn pc-btn" onclick="addToCart('{{data._id}}')">Add to Cart</button>                                                                                <ul class="p-info">
                                                                                    <li>Product Information</li>
                                                                                    <li>Reviews</li>
                                                                                    <li>Product Care</li>

                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    </div>
         </div>
                                                                             {{/if}}

       </section>
                                                            <!-- Product Page Section End -->

                                                            <!-- Related Product Section Begin -->
      <section class="related-product spad">
            

      </section>
                                                            <!-- Related Product Section End -->


                                                        <script>
                                                        function cartProduct(productId) {
                                                            axios.post(`/user/cart/product/${productId}`)
                                                            .then((response) => {
                                                                if (response.status !== 200) {
                                                                throw new Error('Cart request failed');
                                                                } else {
                                                                document.location.href = "/user/shopping-cart";
                                                                }
                                                            })
                                                            .catch((error) => {
                                                                console.error(error);
                                                            });
                                                        }
                                                     </script>
        <script>
function addToCart() {
    var productId = document.getElementById("productId").innerText;
    var productName = document.getElementById("productName").innerText;
    var size = document.getElementById("selectedSize").value;
    var quantity = document.getElementById("quantity").value;

    // Constructing the data object
    var data = {
        productId: productId,
        productName: productName,
        size: size,
        quantity: quantity
    };

    // Using Axios to post data to the server
    axios.post('/user/cart/product', data)
        .then(function (response) {
            // Handle success
            alert("Item added to cart successfully!");
        })
        .catch(function (error) {
            // Handle error
            console.error('Error adding item to cart:', error);
        });
}

        </script>
    <script>
            document.addEventListener("DOMContentLoaded", function() {
                function incrementQuantity() {
                    let quantityInput = document.getElementById("quantity");
                    let currentQuantity = parseInt(quantityInput.value);
                    let maxQuantity = parseInt(quantityInput.getAttribute("max"));
                    if (currentQuantity < maxQuantity) {
                        quantityInput.value = currentQuantity + 1;
                        checkAvailability();
                    } else {
                        alert("Maximum quantity reached.");
                    }
                }

                function decrementQuantity() {
                    let quantityInput = document.getElementById("quantity");
                    let currentQuantity = parseInt(quantityInput.value);
                    if (currentQuantity > 1) {
                        quantityInput.value = currentQuantity - 1;
                        checkAvailability();
                    }
                }

                function checkAvailability() {
                    let quantityInput = document.getElementById("quantity");
                    let currentQuantity = parseInt(quantityInput.value);
                    let selectedSize = document.getElementById("selectedSize").value; // Retrieve the selected size
                    let sizeDivs = document.querySelectorAll(".sizeDiv"); // Get all size divs

                    // Loop through each size div to find the one that matches the selected size
                    for (let i = 0; i < sizeDivs.length; i++) {
                        let sizeDiv = sizeDivs[i];
                        let size = sizeDiv.querySelector('.btn').textContent.trim(); // Get the size text

                        if (size === selectedSize) { // If the size matches the selected size
                            let maxQuantity = parseInt(sizeDiv.querySelector('.sizeQty').dataset.qty); // Get the maximum quantity for that size

                            // Check if the selected quantity exceeds the maximum available quantity for the selected size
                            if (currentQuantity > maxQuantity) {
                                document.getElementById("availabilityMessage").innerText = "Out of Stock";
                            } else {
                                document.getElementById("availabilityMessage").innerText = "";
                            }
                            break; // Exit the loop since we found the matching size
                        }
                    }
                }

                // Add event listeners to buttons for incrementing and decrementing quantity
                document.querySelector('.quantity-minus').addEventListener('click', decrementQuantity);
                document.querySelector('.quantity-plus').addEventListener('click', incrementQuantity);
            });
        </script>
    </section>





    <!-- Footer Section Begin -->
    <footer class="footer-section spad">
        <div class="container">
            <div class="newslatter-form">
                <div class="row">
                    <div class="col-lg-12">
                        <form action="#">
                            <input type="text" placeholder="Your email address">
                            <button type="submit">Subscribe to our newsletter</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="footer-widget">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <h4>About us</h4>
                            <ul>
                                <li>About Us</li>
                                <li>Community</li>
                                <li>Jobs</li>
                                <li>Shipping</li>
                                <li>Contact Us</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <h4>Customer Care</h4>
                            <ul>
                                <li>Search</li>
                                <li>Privacy Policy</li>
                                <li>2019 Lookbook</li>
                                <li>Shipping & Delivery</li>
                                <li>Gallery</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <h4>Our Services</h4>
                            <ul>
                                <li>Free Shipping</li>
                                <li>Free Returnes</li>
                                <li>Our Franchising</li>
                                <li>Terms and conditions</li>
                                <li>Privacy Policy</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <h4>Information</h4>
                            <ul>
                                <li>Payment methods</li>
                                <li>Times and shipping costs</li>
                                <li>Product Returns</li>
                                <li>Shipping methods</li>
                                <li>Conformity of the products</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="social-links-warp">
			<div class="container">
				<div class="social-links">
					<a href="" class="instagram"><i class="fa fa-instagram"></i><span>instagram</span></a>
					<a href="" class="pinterest"><i class="fa fa-pinterest"></i><span>pinterest</span></a>
					<a href="" class="facebook"><i class="fa fa-facebook"></i><span>facebook</span></a>
					<a href="" class="twitter"><i class="fa fa-twitter"></i><span>twitter</span></a>
					<a href="" class="youtube"><i class="fa fa-youtube"></i><span>youtube</span></a>
					<a href="" class="tumblr"><i class="fa fa-tumblr-square"></i><span>tumblr</span></a>
				</div>
			</div>

<div class="container text-center pt-5">
          
            </div>


		</div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
 

    <script src="/user/jquery-3.3.1.min.js"></script>
    <script src="/user/bootstrap.min.js"></script>
    <script src="/user/jquery.magnific-popup.min.js"></script>
    <script src="/user/jquery.slicknav.js"></script>
    <script src="/user/owl.carousel.min.js"></script>
    <script src="/user/jquery.nice-select.min.js"></script>
    <script src="/user/mixitup.min.js"></script>
    <script src="/user/main.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
</body>

</html>
