<!DOCTYPE html>
<html lang="zxx">


<head>
    <meta charset="UTF-8">
    <meta name="description" content="Yoga Studio Template">
    <meta name="keywords" content="Yoga, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>QuickBuY</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-HnBuu5j4OG3nNmGB9frC2MKzP/2DqGxqmA8dXv4y0cgG1l/65NrVtfn5mcJMOImB" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Your custom CSS files -->
    <link rel="stylesheet" href="path/to/your/custom.css">

    <!-- Your HTML content here -->

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Your custom JavaScript files -->
    <script src="path/to/your/custom.js"></script>




    {{!-- pagination --}}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Google Font -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/fontawesome.min.css">



    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">





    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">

    {{!-- font auwsom --}}
    {{!--
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"> --}}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/user/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/user/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/user/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/user/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/user/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/user/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/user/style.css" type="text/css">



    {{!-- ------ --}}
    {{!-- bootstrap icon --}}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet">
</head>



<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Search model -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->

    <!-- Header Section Begin -->
    <header class="header-section" style="position: fixed;z-index:5;background-color: white;width: 100%;top:0%;">
        <div class="container-fluid">
            <div class="inner-header">
                <div class="logo">
                    <a href="/">
                        <h5 style="font-size: 2em; color: #ad0101;font-weight:bolder;"> <img
                                style="height:40px;width:40px;background-color: white;color:white;fo"
                                src="https://res.cloudinary.com/dd6qdgpfr/image/upload/v1712106218/photo_2024-03-12_20-09-56__2___1_-transformed_ncuoze.png"
                                alt="">
                            QuickBuY</h5>
                    </a>


                </div>
                <div class="header-right">

                    <a style="margin-right:1px;" class="search-trigger" href=""> <i style="font-size:20px;"
                            class="bi bi-search"></i> </a>


                    <a style="font-size:24px;margin-left:1px;" href="/shopping-cart"><i style="margin-top:5%;"
                            class="bi bi-cart3"></i></a>

                    <a href="/profile"><i style="font-size:24px;" class="bi bi-person"></i></a>



                </div>
                <div class="user-access">
                    <a href="/sign" style="display: none;">Register</a>
                    <a href="/login" style="display: none;" class="in">Sign in</a>
                    <a href="/logout">Logout</a>
                    </a>

                </div>
                <nav class="main-menu mobile-menu">
                    <ul>
                        <li><a class="active" href="/">Home</a></li>
                        <li><a href="/products">Shop</a>
                            <ul class="sub-menu">
                                {{!-- <li><a href="/user/products">Product Page</a></li> --}}
                                <li><a href="/shopping-cart">Shopping Cart</a></li>
                                {{!-- <li><a href="/check-out">Check out</a></li> --}}
                            </ul>
                        </li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/check-out">Blog</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <!-- Header Info Begin -->
    <div class="header-info">
        <div class="container-fluid">
            {{!-- <div class="row">
                <div class="col-md-4">
                    <div class="header-item">
                        <img src="/icons/delivery.png" alt="">
                        <p>Free shipping on orders over $30 in USA</p>
                    </div>
                </div>
                <div class="col-md-4 text-left text-lg-center">
                    <div class="header-item">
                        <img src="/icons/voucher.png" alt="">
                        <p>20% Student Discount</p>
                    </div>
                </div>
                <div class="col-md-4 text-left text-xl-right">
                    <div class="header-item">
                        <img src="/icons/sales.png" alt="">
                        <p>30% off on dresses. Use code: 30OFF</p>
                    </div>
                </div>
            </div> --}}
        </div>
    </div>
    <!-- Header Info End -->
    <!-- Page Add Section Begin -->
    {{!-- <section class="page-add">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="page-breadcrumb">
                        <h2>Shirts<span>.</span></h2>
                        <a href="#">Home</a>
                        <a href="#">Dresses</a>
                        <a class="active" href="#">Night Dresses</a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <img src="/add.jpg" alt="">
                </div>
            </div>
        </div>
    </section> --}}
    <!-- Page Add Section End -->

    <!-- Product Page Section Beign -->
    <style>
        .size.selected {
            background-color: black;
            color: white;
        }
    </style>
    <section class="product-page" style="margin-top:1%;">
        {{#if data }}
        <div class="container">
            <div class="product-control">
                <a href="#"></a>
                <a href="#"></a>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="product-slider owl-carousel">
                        <div class="product-img">
                            <figure>
                                <img src="{{data.image.url}}" alt="{{this.productname}}">
                                {{!-- <div class="p-status">new</div> --}}
                            </figure>
                        </div>
                        <div class="product-img">
                            <figure class="img-wrapper">
                                <img src="{{data.image.url}}" alt="{{this.productname}}" class="img-fluid">
                            </figure>
                        </div>

                    </div>


                </div>


                <div class="col-2">

                </div>




<style>
    
</style>


                <div class="col-lg-4">
                    <div class="product-content">
                        <h2 style="font-size:x-large;font-weight:;font-family:'Times New Roman', Times, serif;font-style: initial;"
                            id="productName">{{data.productname}}</h2>
                        <div class="pc-meta">
                            {{!-- <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div> --}}
                            <style>
                                .discounted-price {
                                    text-decoration: line-through;
                                }
                            </style>
                        </div>
                        <p>{{data.discription}}</p>
                        <ul class="tags">
                            <li><span
                                    style=" font-size: 15px ;margin-bottom: 10px; font-weight: bold;color: rgb(43, 42, 42);">Category
                                    :{{#each data.category }} {{this.title}} {{/each}} </span> </li>

                            <h1
                                style="margin-bottom: 15px; font-size: 18px;font-weight:lighter;color: rgb(35, 35, 35);font-family: sans-serif;">
                                <div class="price-container">
                                    <h5 style="font-size:15px;">Color:</h5>

                                    <h5 class="original-price">₹{{data.price}}</h5>
                                    <span style="background-color: rgb(194, 180, 180);font-size:15px;"
                                        class="discounted-price"> </span><span
                                        style="background-color:rgb(194, 180, 180); color: rgb(82, 55, 138);font-size: 15px;">(20%
                                        off)</span>
                                </div> {{!-- <li><span>Tags :</span> man, shirt, dotted, elegant, cool</li>
                                <li><span>Tags :</span> man, shirt, dotted, elegant, cool</li>
                                --}}
                                <li style="margin-bottom: 20px;">
                                    {{!-- <span>Size :</span> --}}
                                    <h5 style="font-size:15px;">Size:</h5>
                                    <div class="btn-group" id="sizeDiv" role="group" aria-label="Size Options">
                                        {{#each data.properties}}
                                        <button type="button" class="btn btn-outline-dark size"
                                            onclick="selectSize('{{this.size}}')">
                                            {{this.size}}
                                        </button>
                                        {{/each}}
                                    </div>
                                    <input type="hidden" id="selectedSize" name="selectedSize" value="">




                        </ul>
                        {{!--
                        {{#each data.properties }}
                        <h1 style="font-size: 10px ;">{{this.quantity}}</h1>
                        {{/each}} --}}

                        <h5
                            style="font-size:12px;margin-left :5px; font-weight:initial; color: rgba(19, 19, 20, 0.948);">
                            COLORS</h5>
                        <br>
                        <div class="row">
                            {{#each relatedProducts }}
                            <div class="col-6 col-md-4 col-lg-3 mb-3">
                                <div class="card" style="max-width: 100%;">
                                    <a href="/productpage?name={{this._id}}" tabindex="-1">
                                        <img class="card-img" src="{{this.image.url}}" alt="Image"
                                            style="width: 100%; height: auto;">
                                    </a>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                        <script>
                            // Get the original price from the HTML content
                            const originalPriceElement = document.querySelector('.original-price');
                            const originalPrice = parseFloat(originalPriceElement.textContent.replace('₹', ''));

                            // Calculate the discounted price
                            const discountPercentage = 20;
                            const discountAmount = (originalPrice * discountPercentage) / 100;
                            const discountedPrice = originalPrice + discountAmount;

                            // Display the discounted price
                            const discountedPriceElement = document.querySelector('.discounted-price');
                            discountedPriceElement.textContent = `₹${discountedPrice.toFixed(2)}`; // Assuming you want 2 decimal places
                        </script>

                        <script>


                            function selectSize(size) {
                                const selectedSize = document.getElementById('selectedSize');
                                const sizeButtons = document.querySelectorAll('.size');

                                // Set the value of the hidden input field
                                selectedSize.value = size;

                                // Remove the 'selected' class from all size buttons
                                sizeButtons.forEach(button => {
                                    button.classList.remove('selected');
                                });

                                // Add the 'selected' class to the clicked size button
                                event.currentTarget.classList.add('selected');
                            }

                            // Clicking outside the size container will not remove the selection
                            document.addEventListener('click', (event) => {
                                const sizeDiv = document.getElementById('sizeDiv');

                                // Check if the click target is not inside the size container or its children
                                if (!sizeDiv.contains(event.target)) {
                                    // Do nothing if the click is outside the size container
                                    return;
                                }
                            });


                        </script>

                        <link rel="stylesheet"
                            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
                            integrity="sha512-jqXNuKfeywxEN44C4yizKMGvPV/RKiNVWk6N1K6PQi/QRDePFvhF6lD9p0Ggg3l9iI0O+RfMQL0z4KNSfZ0okA=="
                            crossorigin="anonymous" />

                        <script
                            src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

                        <div class="product-quantity">
                            <div class="input-group mb-4">
                                <span class="input-group-btn">
                                    <button type="button"
                                        style="background-color: rgb(220, 218, 218); width:37px; height:37px; padding: 0;margin-top:11%;border: 1px solid rgb(231, 227, 227);"
                                        class="quantity-minus btn btn-outline-secondary" onclick="decrementQuantity()">
                                        <i style="font-weight: bolder; font-size: 16px;" class="bi bi-dash"></i>
                                    </button>

                                </span>
                                <input type="text"
                                    style="height: 45px;margin-left:2%;margin-right: 2%;text-align: center;box-shadow: 0 2px 4px rgba(249, 246, 246, 0.1);"
                                    id="quantity" name="quantity" class="form-control input-number " value="1" min="1"
                                    data-qty="{{data.Quantity}}" max="{{data.Quantity}}">
                                <span class="input-group-btn">
                                    <button type="button"
                                        style="width:37px; height:37px; padding: 0; background-color: rgb(220, 218, 218);margin-top:11%;border: 1px solid rgb(231, 227, 227);"
                                        class="quantity-plus btn btn-outline-secondary" onclick="incrementQuantity()">
                                        <i style="font-size: 16px;" class="bi bi-plus"></i>
                                    </button>


                                </span>
                            </div>

                            <h1>{{data.Quantity}}</h1>
                            <h1 id="productId" style="display: none;">{{data._id}}</h1>
                            {{!-- <a href="#" class="primary-btn pc-btn">Add to cart</a> --}}
                            <button class="btn txt-light w-50 mb-3 mb-md-0"
                                style="height:42px;background-color: rgb(95, 92, 92);color: white;font-size:18px;"
                                onclick="handleAddToCart('{{data._id}}', '{{token}}')">
                                <i class="material-icons" style="color: #ffffff;font-size:19px;">shopping_cart</i> Add
                                to Cart
                            </button>
                            <br>



                            <ul class="p-info">
                                <li>Product Information</li>
                                <li>Reviews</li>
                                <li>Product Care</li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {{/if}}


    </section>
    <script>
        function handleAddToCart(productId, token) {
            if (token) {
                addToCart(productId);
            } else {
                window.location.href = "/login";
            }
        }

        function addToCart(productId) {
            console.log("Item added to cart with ID: " + productId);
        }
    </script>


    <!-- Product Page Section End -->
    <div class="user-not">
        <!-- Conditional rendering based on user authentication -->
        {{#if loggedIn}}

        <a style="color: black;" href="/logout" id="logoutButton">Logout</a>
        {{else}}

        <a style="color: black;" href="/login" id="signInButton">sign in</a>/
        <a style="color: rgb(156, 142, 142);" href="/sign" id="signUpButton">sign up</a>

        {{/if}}
    </div>
    <!-- Related Product Section Begin -->
    <section class="related-product spad">


    </section>
    <!-- Related Product Section End -->


    <script>
        function cartProduct(productId) {
            axios.post(`/cart/product/${productId}`)
                .then((response) => {
                    if (response.status !== 200) {
                        throw new Error('Cart request failed');
                    } else {
                        document.location.href = "/shopping-cart";
                    }
                })
                .catch((error) => {
                    console.error(error);
                });
        }
    </script>

    <style>
        /* Custom styles for Toastify notification */
        /* Custom styles for Toastify notification */
        .custom-toastify {
            width: 450px;
            height: 52px;
            padding: 8px 16px;
            font-size: 14px;
            line-height: 1.5;
            background: linear-gradient(to right, #00b09b, #96c93d);
            color: #fff;
            border-radius: 4px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            position: fixed;
            left: 35%;
            transform: translateX(-10%);
            text-align: center;
            z-index: 6;
        }

        /* Vertically center the notification */
        .toastify-toast.top-center {
            top: 50%;
            transform: translateY(-50%);
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script>
        function addToCart() {
            var productId = document.getElementById("productId").innerText;
            var productName = document.getElementById("productName").innerText;
            var size = document.getElementById("selectedSize").value;
            var quantitys = document.getElementById("quantity").value;

            // Check if size is not selected
            if (!size) {
                Toastify({
                    text: "Please select a size.",
                    duration: 3000, // 3 seconds
                    close: true,
                    gravity: "top",
                    position: "center",
                    className: "custom-toastify",
                }).showToast();
                return; // Exit the function if size is not selected
            }

            // Constructing the data object
            var data = {
                productId: productId,
                productName: productName,
                size: size,
                quantity: quantitys,
            };

            // Using Axios to post data to the server
            axios.post('/cart/product', data)
                .then(function (response) {
                    // Handle success
                    Toastify({
                        text: "Item added to cart successfully!",
                        duration: 3000, // 3 seconds
                        close: true,
                        gravity: "top",
                        position: "center",
                        className: "custom-toastify",
                    }).showToast();
                })
                .catch(function (error) {
                    // Handle error
                    console.error('Error adding item to cart:', error);
                });
        }

    </script>



    <script>
        document.addEventListener("DOMContentLoaded", function () {
            function incrementQuantity() {
                let quantityInput = document.getElementById("quantity");
                let currentQuantity = parseInt(quantityInput.value);

                let maxQuantity = 5
                if (currentQuantity < maxQuantity) {
                    quantityInput.value = currentQuantity + 1;
                    checkAvailability();
                } else {
                    alert("Maximum quantity reached.");
                }
            }

            function decrementQuantity() {
                let quantityInput = document.getElementById("quantity");
                let currentQuantity = parseInt(quantityInput.value);
                if (currentQuantity > 1) {
                    quantityInput.value = currentQuantity - 1;
                    checkAvailability();
                }
            }

            function checkAvailability() {
                let quantityInput = document.getElementById("quantity");
                let currentQuantity = parseInt(quantityInput.value);
                let selectedSize = document.getElementById("selectedSize").value; // Retrieve the selected size

                // Iterate through your array of size and quantity objects to find the maximum quantity for the selected size
                let maxQuantity = 0;
                for (let i = 0; i < sizeAndQuantityArray.length; i++) {
                    if (sizeAndQuantityArray[i].size === selectedSize && sizeAndQuantityArray[i].quantity > maxQuantity) {
                        maxQuantity = sizeAndQuantityArray[i].quantity;
                    }
                }

                // Check if the selected quantity exceeds the maximum available quantity for the selected size
                if (currentQuantity > maxQuantity) {
                    document.getElementById("availabilityMessage").innerText = "Out of Stock";
                } else {
                    document.getElementById("availabilityMessage").innerText = "Available ";
                }
            }

            // Add event listeners to buttons for incrementing and decrementing quantity
            document.querySelector('.quantity-minus').addEventListener('click', decrementQuantity);
            document.querySelector('.quantity-plus').addEventListener('click', incrementQuantity);
        });
    </script>






    <!-- Footer Section Begin -->
    <footer class="footer-section spad">
        <div class="container">
            <div class="newslatter-form">
                <div class="row">
                    <div class="col-lg-12">
                        <form action="#">
                            <input type="text" placeholder="Your email address">
                            <button type="submit">Subscribe to our newsletter</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="footer-widget">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <h4>About us</h4>
                            <ul>
                                <li>About Us</li>
                                <li>Community</li>
                                <li>Jobs</li>
                                <li>Shipping</li>
                                <li>Contact Us</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <h4>Customer Care</h4>
                            <ul>
                                <li>Search</li>
                                <li>Privacy Policy</li>
                                <li>2019 Lookbook</li>
                                <li>Shipping & Delivery</li>
                                <li>Gallery</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <h4>Our Services</h4>
                            <ul>
                                <li>Free Shipping</li>
                                <li>Free Returnes</li>
                                <li>Our Franchising</li>
                                <li>Terms and conditions</li>
                                <li>Privacy Policy</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <h4>Information</h4>
                            <ul>
                                <li>Payment methods</li>
                                <li>Times and shipping costs</li>
                                <li>Product Returns</li>
                                <li>Shipping methods</li>
                                <li>Conformity of the products</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="social-links-warp">
            <div class="container">
                <div class="social-links">
                    <a href="" class="instagram"><i class="fa fa-instagram"></i><span>instagram</span></a>
                    <a href="" class="pinterest"><i class="fa fa-pinterest"></i><span>pinterest</span></a>
                    <a href="" class="facebook"><i class="fa fa-facebook"></i><span>facebook</span></a>
                    <a href="" class="twitter"><i class="fa fa-twitter"></i><span>twitter</span></a>
                    <a href="" class="youtube"><i class="fa fa-youtube"></i><span>youtube</span></a>
                    <a href="" class="tumblr"><i class="fa fa-tumblr-square"></i><span>tumblr</span></a>
                </div>
            </div>

            <div class="container text-center pt-5">

            </div>


        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->


    <script src="/user/jquery-3.3.1.min.js"></script>
    <script src="/user/bootstrap.min.js"></script>
    <script src="/user/jquery.magnific-popup.min.js"></script>
    <script src="/user/jquery.slicknav.js"></script>
    <script src="/user/owl.carousel.min.js"></script>
    <script src="/user/jquery.nice-select.min.js"></script>
    <script src="/user/mixitup.min.js"></script>
    <script src="/user/main.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-p99b4vMMb65ZeAV2rD2mCxPL6VjxhENtdz8oPK72D/7z4C0yK7Uaa9ZCkbQH+2w5"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
</body>

</html>