<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Click to Open Page</title>
    <script>
        function openProductDetails(productid) {
         
            window.location.href = "/user/productdetails";
        }
    </script>
</head>
<body>

    {{#each subcategories}}
        <div>
            <h3>{{title}}</h3>
            <p>{{description}}</p>
            <img src="{{image.url}}" alt="{{title}} Image" style="width: 22%; height: auto;" onclick="openProductDetails('{{productid}}');">
        </div>
    {{else}}
        <p>No subcategories found.</p>
    {{/each}}

</body>
</html>
